<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<!--   User application and configured property settings go here.-->
	<!-- To run tests, create a file named DataBase.config 
		 with your own value for datasource.
		 (don't included it in the solution and don't commit it in SVN)
	-->
	<add key="userid" value="IBatisNet" />
	<add key="password" value="test" />
	<add key="database" value="IBatisNet" />
	<add key="datasource" value="(local)\NetSDK" />
	<add key="useridHibernate" value="NHibernate" />
	<add key="databaseHibernate" value="NHibernate" />
	<add key="connectionStringOdbc" value="Driver={SQL Server};Server=(local)\NetSDK;Database=IBatisNet;Uid=IBatisNet;Pwd=test;" />
	<add key="datasourceMySql" value="localhost" />
	<add key="selectKey" value="select @@IDENTITY as value" />
	<add key="MyCategoryName" value="'Film'" />
	<add key="accountName" value="'Joe'" />
	<add key="datasourcePostgreSQL" value="localhost"/>
	<add key="directory" value="Maps" />
	<add key="useStatementNamespaces" value="false" />
</settings>
