<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<sectionGroup name="iBATIS">
			<section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
		</sectionGroup>	
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<!-- To enable internal log4net logging specify the following appSettings key -->
		<!-- <add key="log4net.Internal.Debug" value="true"/> -->

		<!-- To test MySql set value="MySql" -->
		<!-- To test Oracle set value="Oracle" -->
		<!-- To test Access set value="Access" -->		
		<!-- To test MS Sql Server set value="MSSQL"  -->	
		<!-- To test PostgreSQL set value="PostgreSQL"  -->	
		<add key="database" value="MSSQL"/>
		<!-- To test MS SqlServer via SqlClient value="SqlClient"  -->
		<!-- To test Oracle via MS Oracle provider value="OracleClient"  -->
		<!-- To test Oracle via Oracle provider value="ODP"  -->
		<!-- To test PostgreSQL via Npgsql provider value="Npgsql"  -->
		<!-- To test MySql via ByteFx value="ByteFx"  -->
		<!-- To test MySql via MySql provider value="MySql"  -->
		<!-- To test via OleDb provider (any database) value="OleDb"  -->
		<!-- To test via Odbc provider (any database) value="Odbc"  -->
		<add key="providerType" value="SqlClient"/>
	</appSettings>

	<iBATIS>
 		<logging>

<!--      	<logFactoryAdapter type="IBatisNet.Common.Logging.Impl.ConsoleOutLoggerFA, IBatisNet.Common">
				<arg key="showLogName" value="true" />
				<arg key="showDataTime" value="true" />
				<arg key="level" value="ALL" />
				<arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:SSS" />
			</logFactoryAdapter>	
-->   
 <!--      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="inline" />
      </logFactoryAdapter> 
-->

    
     <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.NoOpLoggerFA, IBatisNet.Common" />

      
		</logging>
	</iBATIS>
		
	<!-- This section contains the log4net configuration settings -->
	<log4net>
		<!-- Define some output appenders -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="MaxSizeRollBackups" value="2" />
			<param name="MaximumFileSize" value="100KB" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Header]\r\n" />
				<param name="Footer" value="[Footer]\r\n" />
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
			</layout>
		</appender>
				<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
				
		</layout>

		</appender>
		<!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
		<!-- Set root logger level to ERROR and its appenders -->
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
		
		<!-- Print only messages of level DEBUG or above in the packages -->
		<logger name="IBatisNet.DataMapper.Configuration.Cache.CacheModel">
			<level value="DEBUG" />
		</logger>
		<logger name="IBatisNet.DataMapper.Configuration.Statements.PreparedStatementFactory">
			<level value="OFF" />
		</logger>
		<logger name="IBatisNet.DataMapper.Commands.IPreparedCommand">
			<level value="OFF" />
		</logger>		
		<logger name="IBatisNet.DataMapper.LazyLoadInterceptor">
			<level value="DEBUG" />
		</logger>
		<logger name="IBatisNet.DataMapper.LazyLoadProxyFactory">
			<level value="DEBUG" />
		</logger>		
		<logger name="IBatisNet.DataAccess.DaoSession">
			<level value="DEBUG" />
		</logger>
		<logger name="IBatisNet.DataMapper.SqlMapSession">
			<level value="DEBUG" />
		</logger>
		<logger name="IBatisNet.Common.Transaction.TransactionScope">
			<level value="DEBUG" />
		</logger>
		<logger name="IBatisNet.DataAccess.Configuration.DaoProxy">
			<level value="DEBUG" />
		</logger>
		<logger name="IBatisNet.DataMapper.Commands.DefaultPreparedCommand">
			<level value="DEBUG" />
		</logger>
    <logger name="IBatisNet.Common.Utilities.ConfigWatcherHandler">
      <level value="DEBUG" />
    </logger>
    <logger name="IBatisNet.DataMapper.Configuration.Cache.CacheModel">
      <level value="DEBUG" />
    </logger>
	</log4net>
	
</configuration>
