<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<properties resource="../../Database.config"/>
		
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>
	
	<!-- ==== OleDb configuration =========	-->
	<database>
		<provider name="OleDb4.0"/>
		<dataSource name="iBatisNetOLEDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\IBatisNet.mdb;User Id=admin;Password=;"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="IBatisNet.DataMapper.Test.Domain.Account, IBatisNet.DataMapper.Test" />
		<typeAlias alias="OuiNonBool" type="IBatisNet.DataMapper.Test.Domain.OuiNonBoolTypeHandlerCallback, IBatisNet.DataMapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="Varchar" callback="OuiNonBool"/>
	</typeHandlers>
		
	<sqlMaps>
		<sqlMap resource="../../Maps/Access/OleDb/Account.xml"/>
		<sqlMap resource="../../Maps/Access/OleDb/DynamicAccount.xml"/>
		<sqlMap resource="../../Maps/Access/OleDb/Order.xml"/>
		<sqlMap resource="../../Maps/Access/OleDb/Category.xml"/>
		<sqlMap resource="../../Maps/Access/OleDb/Complex.xml"/>
		<sqlMap resource="../../Maps/Access/OleDb/LineItem.xml"/>
		<sqlMap resource="../../Maps/Access/OleDb/Enumeration.xml"/>
		<sqlMap resource="../../Maps/Access/OleDb/Other.xml"/>
    <sqlMap resource="../../Maps/Access/OleDb/NewsPaper.xml"/>
    <sqlMap resource="../../Maps/Access/OleDb/Document.xml"/>
		<sqlMap resource="../../Maps/Access/OleDb/ParameterClass.xml"/>
		<sqlMap resource="../../Maps/Access/OleDb/ResultClass.xml"/>
	</sqlMaps>
	
</sqlMapConfig>
