<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<!-- Rem : If used via a DataAccess context, properties tag will be ignored -->
	<properties resource="../../Database.config"/>
	<!-- <properties embedded="database.config, IBatisNet.Test"/> -->
	<settings>
		<setting useStatementNamespaces="${useStatementNamespaces}"/>
		<setting cacheModelsEnabled="true"/>
		<setting validateSqlMap="false"/>
		<!--
		<setting useReflectionOptimizer="true"/>
		-->
	</settings>	
	<!-- Optional if resource -->
	<providers resource="providers.config"/>
	<!-- ==== OracleClient configuration =========	-->
	<!-- Rem : If used via a DataAccess context, database tag will be ignored -->
	<database>
		<!-- Optional ( default ) -->
		<provider name="oracleClient1.0"/>
		<dataSource name="iBatisNet" connectionString="Data Source=${datasource};User Id=${userid};Password=${password}"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="IBatisNet.DataMapper.Test.Domain.Account, IBatisNet.DataMapper.Test"/>
		<typeAlias alias="OuiNonBool" type="IBatisNet.DataMapper.Test.Domain.OuiNonBoolTypeHandlerCallback, IBatisNet.DataMapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="VarChar" callback="OuiNonBool"/>
	</typeHandlers>
		
	<sqlMaps>
		<!-- <sqlMap url="E:/Projet/IBatisNet/Source/IBatisNet.Test/Maps/Oracle/OracleClient/Account.xml"/> ok -->
		<sqlMap resource="../../Maps/Oracle/OracleClient/Account.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/DynamicAccount.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/Order.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/Category.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/Complex.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/LineItem.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/Enumeration.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/Other.xml"/>
    <sqlMap resource="../../Maps/Oracle/OracleClient/NewsPaper.xml"/>
    <sqlMap resource="../../Maps/Oracle/OracleClient/Document.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/ParameterClass.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/ResultClass.xml"/>
		<sqlMap resource="../../Maps/Oracle/OracleClient/Nullable.xml"/>		
		<sqlMap resource="../../Maps/Oracle/OracleClient/Simple.xml"/>
		<!-- Rem : If used as embbeded Resources, use
		<sqlMap embedded="Account.xml, IBatisNet.DataMapper.Test"/>
		-->
	</sqlMaps>
</sqlMapConfig>
