<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<properties resource="../../database.config"/>
	
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
		<setting validateSqlMap="false"/>
	</settings>	
		
	<!-- Optional if resource -->
	<providers embedded="providers.config, IBatisNet.DataMapper.Test"/>
	
	<!-- ==== OleDb configuration =========	-->
	<database>
		<provider name="OleDb1.1"/>
		<dataSource name="iBatisNetOLEDB" connectionString="Provider=SQLOLEDB;Server=${datasource};database=${database};user id=${userid};password=${password};"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="IBatisNet.DataMapper.Test.Domain.Account, IBatisNet.DataMapper.Test" />
		<typeAlias alias="OuiNonBool" type="IBatisNet.DataMapper.Test.Domain.OuiNonBoolTypeHandlerCallback, IBatisNet.DataMapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="Varchar" callback="OuiNonBool"/>
	</typeHandlers>	
	
	<sqlMaps>
		<sqlMap resource="../../Maps/MSSQL/OleDb/Account.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/DynamicAccount.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/Order.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/Category.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/Complex.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/LineItem.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/Enumeration.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/Other.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/ParameterClass.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/ResultClass.xml"/>
    <sqlMap resource="../../Maps/MSSQL/OleDb/NewsPaper.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/Document.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/Nullable.xml"/>
		<sqlMap resource="../../Maps/MSSQL/OleDb/Simple.xml"/>
  </sqlMaps>
	
</sqlMapConfig>
