<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<!-- Rem : If used via a DataAccess context, properties tag will be ignored -->
	<properties resource="../../Database.config"/>
	<!-- <properties embedded="database.config, IBatisNet.Test"/> -->
	
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>
	
	<!-- ==== MySql configuration =========	-->
	<!-- Rem : If used via a DataAccess context, database tag will be ignored -->
	<database>
		<provider name="MySql"/>
		<dataSource name="IBatisNet" connectionString="server=${datasourceMySql};user id=${userid}; password=${password}; database=${database}; pooling=false"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="IBatisNet.DataMapper.Test.Domain.Account, IBatisNet.DataMapper.Test"/>
		<typeAlias alias="OuiNonBool" type="IBatisNet.DataMapper.Test.Domain.OuiNonBoolTypeHandlerCallback, IBatisNet.DataMapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="Varchar" callback="OuiNonBool"/>
	</typeHandlers>
	
	<sqlMaps>
		<!-- <sqlMap url="E:/Projet/IBatisNet/Source/IBatisNet.Test/Maps/MySql/ByteFx/Account.xml"/> ok -->
		<sqlMap resource="../../Maps/MySql/MySql/Account.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/DynamicAccount.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/Order.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/Category.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/Complex.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/LineItem.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/Enumeration.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/Other.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/ParameterClass.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/ResultClass.xml"/>
    <sqlMap resource="../../Maps/MySql/MySql/NewsPaper.xml"/>
    <sqlMap resource="../../Maps/MySql/MySql/Document.xml"/>
		<sqlMap resource="../../Maps/MySql/MySql/Simple.xml"/>
		<!-- Rem : If used as embbeded Resources, use
		<sqlMap embedded="Account.xml, IBatisNet.DataMapper.Test"/>
		-->
	</sqlMaps>
</sqlMapConfig>
