<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<!-- Rem : If used via a DataAccess context, properties tag will be ignored -->
	<properties resource="../../Database.config"/>
	<!-- <properties embedded="database.config, IBatisNet.Test"/> -->

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
		<setting useReflectionOptimizer="true"/>
	</settings>	
	
	<!-- ==== PostgreSQL configuration =========	-->
	<!-- Rem : If used via a DataAccess context, database tag will be ignored -->
	<database>
		<provider name="PostgreSql0.99.1.0"/>
		<!--
		connectionString=
		Server=127.0.0.1;Port=5432;User Id=joe;Password=secret;Database=joedata;
		-->
		<dataSource name="IBatisNet" connectionString="Server=${datasourcePostgreSQL};Port=5432;User Id=${userid};Password=${password};Database=${database};"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="IBatisNet.DataMapper.Test.Domain.Account, IBatisNet.DataMapper.Test"/>
		<typeAlias alias="OuiNonBool" type="IBatisNet.DataMapper.Test.Domain.OuiNonBoolTypeHandlerCallback, IBatisNet.DataMapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="Text" callback="OuiNonBool"/>
	</typeHandlers>
	
	<sqlMaps>
		<!-- <sqlMap url="E:/Projet/IBatisNet/Source/IBatisNet.Test/Maps/PostgreSQL/Npgsql/Account.xml"/> ok -->
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/Account.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/DynamicAccount.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/Order.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/Category.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/Complex.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/LineItem.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/Enumeration.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/Other.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/ParameterClass.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/ResultClass.xml"/>
    <sqlMap resource="../../Maps/PostgreSQL/Npgsql/NewsPaper.xml"/>
    <sqlMap resource="../../Maps/PostgreSQL/Npgsql/Document.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/Nullable.xml"/>
		<sqlMap resource="../../Maps/PostgreSQL/Npgsql/Simple.xml"/>
		<!-- Rem : If used as embbeded Resources, use
		<sqlMap embedded="Account.xml, IBatisNet.DataMapper.Test"/>
		-->
	</sqlMaps>
</sqlMapConfig>
