<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	
	<!-- Rem : If used via a DataAccess context, properties tag will be ignored -->
	<properties resource="../../Database.config"/>
	<!-- <properties embedded="database.config, IBatisNet.Test"/> -->

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>
	
	<!-- ==== MySql configuration =========	-->
	<!-- Rem : If used via a DataAccess context, database tag will be ignored -->
	<database>
		<provider name="ByteFx"/>
		<dataSource name="IBatisNet" connectionString="Data Source=${datasourceMySql};Database=${database};User Id=${userid};Password=${password}"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="IBatisNet.DataMapper.Test.Domain.Account, IBatisNet.DataMapper.Test"/>
		<typeAlias alias="OuiNonBool" type="IBatisNet.DataMapper.Test.Domain.OuiNonBoolTypeHandlerCallback, IBatisNet.DataMapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="varchar" callback="OuiNonBool"/>
	</typeHandlers>
	
	<sqlMaps>
		<!-- <sqlMap url="E:/Projet/IBatisNet/Source/IBatisNet.Test/Maps/MySql/ByteFx/Account.xml"/> ok -->
		<sqlMap resource="../../Maps/MySql/ByteFx/Account.xml"/>
		<sqlMap resource="../../Maps/MySql/ByteFx/DynamicAccount.xml"/>
		<sqlMap resource="../../Maps/MySql/ByteFx/Order.xml"/>
		<sqlMap resource="../../Maps/MySql/ByteFx/Category.xml"/>
		<sqlMap resource="../../Maps/MySql/ByteFx/Complex.xml"/>
		<sqlMap resource="../../Maps/MySql/ByteFx/LineItem.xml"/>
		<sqlMap resource="../../Maps/MySql/ByteFx/Enumeration.xml"/>
		<sqlMap resource="../../Maps/MySql/ByteFx/Other.xml"/>
		<sqlMap resource="../../Maps/MySql/ByteFx/ParameterClass.xml"/>
		<sqlMap resource="../../Maps/MySql/ByteFx/ResultClass.xml"/>
    <sqlMap resource="../../Maps/MySql/ByteFx/NewsPaper.xml"/>
    <sqlMap resource="../../Maps/MySql/ByteFx/Document.xml"/>
		<!-- Rem : If used as embbeded Resources, use
		<sqlMap embedded="Account.xml, IBatisNet.DataMapper.Test"/>
		-->
	</sqlMaps>
</sqlMapConfig>
