<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<!-- Rem : If used via a DataAccess context, properties tag will be ignored -->
	<properties resource="../../database.config"/>
	
  <!-- <properties embedded="database.config, IBatisNet.Test"/> -->
	<settings>
		<setting useStatementNamespaces="${useStatementNamespaces}"/>
		<setting cacheModelsEnabled="true"/>
		<setting validateSqlMap="false"/>
		<setting useReflectionOptimizer="true"/>
	</settings>
	
  <!-- Optional if resource -->
	<providers resource="providers.config"/>
	
  <!-- ==== SqlClient configuration =========	-->
	<!-- Rem : If used via a DataAccess context, database tag will be ignored -->
	<database>
		<!-- Optional ( default ) -->
		<provider name="sqlServer4.0"/>
		<dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
	</database>
  
	<alias>
		<typeAlias alias="Account" type="IBatisNet.DataMapper.Test.Domain.Account, IBatisNet.DataMapper.Test"/>
		<typeAlias alias="OuiNonBool" type="IBatisNet.DataMapper.Test.Domain.OuiNonBoolTypeHandlerCallback, IBatisNet.DataMapper.Test"/>
	</alias>
  
	<typeHandlers>
		<typeHandler type="bool" dbType="Varchar" callback="OuiNonBool"/>
    <typeHandler type="string" callback="AnsiStringTypeHandler"/>
	</typeHandlers>
	
  <sqlMaps>
		<!-- <sqlMap url="E:/Projet/iBatis/trunk/cs/mapper/IBatisNet.DataMapper.Test/${directory}/MSSQL/SqlClient/Account.xml"/>   -->
		<sqlMap resource="../../${directory}/MSSQL/SqlClient/Account.xml"/>
		<!-- Rem : If used as embbeded Resources, use
		<sqlMap embedded="Maps.MSSQL.SqlClient.Account.xml, IBatisNet.DataMapper.Test"/>-->
		<sqlMap resource="../../Maps/MSSQL/SqlClient/DynamicAccount.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/Order.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/Category.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/Complex.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/LineItem.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/Enumeration.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/Other.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/ParameterClass.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/ResultClass.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/NewsPaper.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/Document.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/EmbedParameter.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/Nullable.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/Simple.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/ConstructorInjection.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/GroupByMapping.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/Coupons.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/ParentChild1.xml"/>
		<sqlMap resource="../../Maps/MSSQL/SqlClient/ParentChild2.xml"/>

  </sqlMaps>
</sqlMapConfig>
