<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<!-- Rem : If used via a DataAccess context, properties tag will be ignored -->
	<properties resource="../../Database.config"/>
	<!-- <properties embedded="database.config, IBatisNet.Test"/> -->

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>	
	
	<!-- ==== ODP configuration =========	-->
	<!-- Rem : If used via a DataAccess context, database tag will be ignored -->
	<database>
		<!-- Optional ( default ) -->
		<provider name="oracle10.1"/>
		<dataSource name="iBatisNet" connectionString="Data Source=${datasource};User Id=${userid};Password=${password}"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="IBatisNet.DataMapper.Test.Domain.Account, IBatisNet.DataMapper.Test"/>
		<typeAlias alias="OuiNonBool" type="IBatisNet.DataMapper.Test.Domain.OuiNonBoolTypeHandlerCallback, IBatisNet.DataMapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="Varchar2" callback="OuiNonBool"/>
	</typeHandlers>	
	
	<sqlMaps>
		<!-- <sqlMap url="E:/Projet/IBatisNet/Source/IBatisNet.Test/Maps/Oracle/ODP/Account.xml"/> ok -->
		<sqlMap resource="../../Maps/Oracle/ODP/Account.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/DynamicAccount.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/Order.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/Category.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/Complex.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/LineItem.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/Enumeration.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/Other.xml"/>
    <sqlMap resource="../../Maps/Oracle/ODP/NewsPaper.xml"/>
    <sqlMap resource="../../Maps/Oracle/ODP/Document.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/ParameterClass.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/ResultClass.xml"/>
		<sqlMap resource="../../Maps/Oracle/ODP/Nullable.xml"/>		
		<sqlMap resource="../../Maps/Oracle/ODP/Simple.xml"/>		
		<!-- Rem : If used as embbeded Resources, use
		<sqlMap embedded="Account.xml, IBatisNet.Test"/>
		-->
	</sqlMaps>
</sqlMapConfig>
